<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Inicio</a>
    <a class="nav-item nav-link" routerLink="/registro" routerLinkActive="active">Nuevo Usuario</a>
    <a class="nav-item nav-link" routerLink="/busqueda" routerLinkActive="active">Búsqueda de Usuarios</a>

</nav>

<div class="container mt-lg-5 mb-lg-5">
  <router-outlet></router-outlet>
</div>

